* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2 {
    position: relative;
    font-size: 2em;
    color: #fff;
}

section svg {
    position: absolute;
    top: 0;
    left: 0;
}