@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: white;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}


header.sticky .logo {
    color: #111;
}

header ul {
    position: relative;
    display: flex;
}

header ul li a {
    display: inline-block;
    margin: 0 15px;
    color: #fff;
}

header.sticky ul li a {
    color: #111;
}

/* ----------heading finish line---------- */

.banner {
    position: relative;
    min-height: 100vh;
    background: url(./assets/banner.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.banner .textBx h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.banner .textBx h2 span {
    font-size: 1.5em;
    font-weight: 700;
}

.banner .textBx h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}

.banner .textBx .btn {
    position: relative;
    display: inline-block;
    background: #2196f3;
    color: #fff;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

/* ----------banner finish line---------- */

.about .heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.about .heading h2 {
    font-weight: 600;
    font-size: 30px;
}

.about .content {
    display: flex;
    justify-content: space-between;
}

.about .content .contentBx h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.w50 {
    min-width: 50%;
}

img {
    max-width: 100%;
}







/* ----------about finish line---------- */