@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #daddda, #b3b);
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 350px;
    height: 80px;
    transition: 0.7s;
    overflow: hidden;
}

.card.action {
    height: 350px;
    transition: 0.7s;
}

.card .content {
    display: flex;
    width: 350px;
    height: 80px;
    justify-items: center;
    align-items: center;
}

.card .content .imgbx {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 10px solid white;
}

.card .content .info {
    display: flex;
    flex-direction: column;
}

.card .content .info .title {
    font-size: 15px;
    margin-bottom: 1px;
}

.card .content .info .sub {
    font-size: 13px;
}

.card .content .click {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
    background: rgb(159, 194, 218);
    width: 30px;
    height: 30px;
    z-index: 99999;
}

.card .content .click ion-icon {
    width: 20px;
    height: 20px;
    color: white;    
    transition: 0.7s;
}

.card.action .content .click ion-icon {
    width: 20px;
    height: 20px;
    color: white;
    transform: rotate(180deg);
    transition: 0.7s;
}

.card .list {
    padding: 0 20px;
}

.card .list ul {
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card .list ul li {
    margin-bottom: 14px;
}

.card .list ul li a {
    display: flex;
    align-items: center;
    color: #b3b3b3;
    font-size: 15px;
    font-weight: 400;
}

.card .list ul li a:hover {
    color: #8c8bda;
} 


.card .list ul li a ion-icon {
    width: 30px;
    height: 30px;
}

.card .list ul li a strong {
    margin-left: 15px;
}