@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: linear-gradient(45deg, rgb(201, 142, 142), rgb(219, 230, 157));
    width: 100%;
    height: 100vh;
}

.navigation {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 120px;
    height: 60px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
    transition: width 1s, height 1s;
    transition-delay: 0.5s, 0s;
    cursor: pointer;
    overflow: hidden;
}

.navigation.action {
    width: 300px;
    height: 400px;
    transition: width 1s, height 1s;
    transition-delay: 0s, 0.5s;
}   

.navigation .userBx {
    display: flex;
    align-items: center;
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    transition: 1s;
    transition-delay: 1s;
}

.navigation.action .userBx {
    width: calc(100% - 60px);
}
/* 즉 펼쳐졌을 땐 hidden적용을 없애기 위해서 hidden을 사용하는 부모값에다가 크기를 바꿔버리면 h1이 포함되어 노출되게 된다. */
.navigation .userBx .user_name {
    white-space: nowrap;
    color: #555;
    font-size: 1.1em;
}

.navigation .userBx img {
    position: relative;
    min-width: 60px;
    width: 60px;
    height: 60px;
    border: 8px solid white;
    border-radius: 50px;
}

.navigation .menuToggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60px;
    height: 60px;
}

.navigation .menuToggle::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    background: darkgray;
    box-shadow: 0 10px darkgray;
    transition: 1s;
}
/* 가상요소들에게 absolute값을 주는 이유는 붕띄워서 한곳으로 모으고 y값을 바꿔주기 위함 */
.navigation .menuToggle::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    background: darkgray;
    transform: translateY(-10px);
    transition: 1s; 
}

.navigation .menuToggle.action::before {
    box-shadow: none;
    transform: rotate(45deg);
    transition: 1s;
}
/* transition에 rotate는 기입시 적용이 안됨. */
.navigation .menuToggle.action::after {
    box-shadow: none;
    transform: rotate(-45deg);
    transition: 1s;
}

.menu {
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 60px;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.menu li a {
    display: flex;
    align-items: center;
    font-size: 1em;
    margin: 20px 0;
    color: #555;
    gap: 10px;
}

.menu li a:hover {
    color: rgb(148, 153, 221);
    cursor: pointer;
}

.menu li a ion-icon {
    font-size: 1.5em;
}
